* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --p-color: #2b3e4a;
   --s-color: white;
   --success: #1aeec8;
   --fail: #fe2b64;
   --font: 'Raleway', sans-serif;
   font-family: var(--font);
   font-weight: 200;
}

body {
   background-image: linear-gradient(to bottom right, #00ceba, #b07ed0);
}

#body-wrapper {
   position: relative;

   width: 100%;
   max-width: 960px;
   margin: 0 auto;
}

/* ********************** TOP HERO SECTION - TITLE - TIMER - REFRESH ************************* */

h1 {
   margin: 75px 0;

   text-align: center;

   color: var(--s-color);

   font-size: 4rem;
   font-weight: 500;
   letter-spacing: 0.1px;

}

.letter-flip {
   display: inline-block;
   animation: letterflip 6s infinite;
   transform-style: preserve-3d;
}

.icons-container {
   margin: 50px auto;
   text-align: center;
}

ul {
   display: inline-block;

   width: 100%;
   list-style-type: none;

   color: var(--s-color);

   font-size: 1.2rem;
}

li {
   display: inline-block;
   width: 100px;
}

#refresh {
   cursor: pointer;
}

.icons-container p {
   font-weight: 200;
   font-size: 0.9rem;
   padding: 9px 0;
}

/* ********************** BOARD GAME SETUP ************************* */

#memory-game-board {
   display: grid;

   max-width: 960px;
   margin: 75px auto;
   padding: 30px;

   grid-template-columns: repeat(4, minmax(180px, 220px));
   grid-template-rows: repeat(4, minmax(180px, 220px));
   grid-gap: 35px;
}

/* ********************** CARD STYLES ************************* */

.card {
   position: relative;

   width: 100%;
   height: 100%;
   margin: 0 auto;

   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   transition: transform 0.7s ease;

   border-radius: 15px;
   background-color: var(--p-color);

   transform-style: preserve-3d;
}

.selected {
   transform: rotateY(-180deg);
}

.success {
   animation: success 0.3s;

   background-color: var(--success);
   transform: rotateY(-180deg);
}

.fail {
   animation: fail 0.3s;

   background-color: var(--fail);
}

.fail, .success {
   animation-delay: 0.3s;
   animation-iteration-count: 1;
}

/* ********************** ICON STYLES ************************* */

#memory-game-board i {
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%) rotateY(180deg);

   color: var(--s-color);

   font-size: 2.8rem;

   backface-visibility: hidden;
}

/* ********************** MODAL AND POPUP CONGRATULATION SCREEN ************************* */

#modal-wrapper {
   height: 100vh;
   width: 100vw;
   background-image: linear-gradient(to bottom right, #00ceba, #b07ed0);
   text-align: center;
   color: var(--s-color);
   display: none;
}

.modal-container {
   background-color: rgba(255, 255, 255, 0.3);
   height: 80vh;
   width: 80vw;
   margin: 10vh auto;
   position: relative;
   border-radius: 25px;
   animation: fadeout 0.9s;
   animation-iteration-count: 1;
}

#close {
   position: absolute;
   color: var(--s-color);
   top: 25px;
   right: 25px;
   font-size: 1.4rem;
}

#close:hover {
   color: rgba(255, 255, 255, 0.3);
   cursor: pointer;
}

#close:active {
   transform: translateY(1px);
}

.modal-title {
   margin: 0;
   padding: 11% 0;
   line-height: 1em;
}

.text-container {
   position: absolute;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
   line-height: 1.6em;
}

.strong {
   color: var(--p-color);
   font-weight: 500;
}

#btn {
   margin: 13% 0;
   padding: 15px 60px;
   color: var(--s-color);
   background-color: transparent;
   border: solid 1px var(--s-color);
   outline: none;
   border-radius: 15px;
   font-family: var(--font);
   font-size: 1rem;
   cursor: pointer;
}

#btn:hover {
   color: var(--s-color);
   background-color: rgba(255, 255, 255, 0.2);
}

#btn:active {
   transform: translateY(1px);
}

/* ********************** KEYFRAMES AND ANIMATIONS ************************* */

@keyframes letterflip {
   0% {
      transform: rotateY(0);
   }
   70% {
      transform: rotateY(180deg);
   }
   80% {
      transform: rotateY(180deg);
      color: var(--p-color);
   }
   100% {
      transform: rotateY(360deg);
   }
}



@keyframes success {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.15);
   }
}

@keyframes fail {
   0% {
      transform: rotateZ(6deg);
   }
   33% {
      transform: rotateZ(-6deg);
   }
   66% {
      transform: rotateZ(6deg);
   }
   100% {
      transform: rotateZ(0);
   }
}

@keyframes fadeout {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}